{% extends 'base.html' %}

    <!-- TITLE -->
    {% block title %}
        Digivice | Catalogue
    {% endblock %}

    <!-- HERO -->
    {% block hero %}
        <div class="header__hero header__hero-catalogue">
        </div>
    {% endblock %}

    <!-- MAIN -->
    {% block main %}
        <main class="main main__catalogue">
            <div class="catalogue__main-heading section container">
                <h1 class="title title-primary">Full Catalogue Coming Soon!</h1>
            </div>
        </main>
    {% endblock %}