<!DOCTYPE html>
<html lang="en">
<head>
    {% include './partials/metadata.html' %}
    <title>Digivice | digimon name</title>
</head>
<body>
    {% include "./partials/header.html" %}

    <main class="main main__digimon">
        <section class="section">
            <div class="digimon__btn-wrapper">
                <a href="#" class="btn btn-carousel btn-carousel-left">
                    <i class="fa-solid fa-chevron-left icon"></i>
                    <p>#{{ (digimon_info.id - 1) | int }}</p>
                </a>
                <a href="#" class="btn btn-carousel btn-carousel-right">
                    <p>#{{ (digimon_info.id + 1) | int }}</p>
                    <i class="fa-solid fa-chevron-right icon"></i>
                </a>
            </div>
            <div class="digimon__img-wrapper container">
                <img src={{digimon_info.images[0].href}} alt="" class="digimon__img">
                <h2 class="title title-secondary">#{{ digimon_info.id }} {{ digimon_info.name }}</h2>
            </div>
        </section>

        <section class="container section">
            <div class="digimon__stats-wrapper">
                <h3 class="title">Stats</h3>
                <div class="digimon__attributes-wrapper">
                    <p>Level: Child</p>
                    <p>Attribute: Data</p>
                    <p>Type: Small Dragon</p>
                    <p>Field: Field List</p>
                </div>
            </div>
        </section>
    </main>

    {% include "./partials/footer.html" %}
</body>
</html>