{% extends 'base.html' %}

    <!-- TITLE -->
    {% block title %}
        Digivice | Favorites
    {% endblock %}

    <!-- HERO -->
    {% block hero %}
        <div class="header__hero header__hero-favorites">
        </div>
    {% endblock %}

    <!-- MAIN -->
    {% block main %}
        <main class="main main__favorites">
            <div class="favorite__main-heading section container">
                <h1 class="title title-primary">{{ session['username'] }}'s Favorites</h1>
            </div>
                {% for favorite in favorite_list %}
                    {% if favorite.images is sameas true  %}
                <div class="digimon__img-wrapper container">
                    <img src={{favorite.images[0].href}} alt={{favorite.name}} class="digimon__img">
                    <h2 class="title title-secondary">#{{ favorite.id }} {{ favorite.name }}</h2>
                    <form action="/digimon/favorites/add" method="post" class="index__form">
                        <input type="hidden" name="digimon_id" value={{favorite.id}}>
                        <a href="{{ url_for('delete_favorite', req=favorite.id) }}" class="btn btn-favorite btn-remove-favorite">
                            <i class="fa-solid fa-star"></i>
                            Remove Favorite
                        </a>
                    </form>
                </div>
                    {% else %}
                    <div class="digimon__img-wrapper container">
                        <h2>
                            Uh oh! Looks like you still have to add some favorites!
                        </h2>
                    </div>
                    {% endif %}
                {% endfor %}
        </main>
    {% endblock %}