<header class="header">
    <nav class="nav container">
        <a href='#' class="nav__logo">
            <img src="../static/assets/img/digimon_logo_vector.png" alt="" class="nav__logo-img">
        </a>

        <ul class="nav__list" id="navList">
            <li class="nav__list-item">
                <a href="#" class="nav__list-link">
                    Home
                </a>
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-link">
                    About
                </a>
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-link">
                    Catalogue
                </a>
            </li>
        </ul>

        <div class="nav__mobile" id="navMobile">
            <span class="nav__mobile-toggler-icon">
                <i class="fa-solid fa-bars icon icon-menu icon-menu-open"></i>
            </span>
        </div>
    </nav>
    <div class="header__img-container">
        <!--TODO: make dynamic image for different pages -->
        <img src="../static/assets/img/digimon-tamers.avif" alt="digimon tamers fanart" class="header__img">
    </div>
</header>