[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask-bcrypt = "*"
requests = "*"
aioflask = "*"
werkzeug = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
