<footer class="footer footer-main">
    <div class="container footer__attribute-wrapper">
        <div>
            <p class="footer__attribute-text">Built by Cayla Bradley</p>
        </div>
        <div class="footer__attribute-socials">
            <a href="https://www.linkedin.com/in/cayla-bradley-0761a0165/" target="_blank">
                <i class="fa-brands fa-linkedin fa-lg icon"></i>
            </a>
            <a href="https://github.com/caynoelani" target="_blank">
                <i class="fa-brands fa-github fa-lg icon"></i>
            </a>
        </div>
    </div>
</footer>