<header class="header">
    <nav class="nav container">
        <a href='#' class="nav__logo">
            <img src="../static/assets/img/digimon_logo_vector.png" alt="" class="nav__logo-img">
        </a>

        <ul class="nav__list" id="navList">
            <li class="nav__list-item">
                <a href="/" class="nav__list-link">
                    Home
                </a>
            </li>
            <li class="nav__list-item">
                <a href="/catalogue" class="nav__list-link">
                    Catalogue
                </a>
            </li>

            {% if is_logged_in %}
            <li class="nav__list-item">
                <a href="/favorites" class="nav__list-link">
                    Favorites
                </a>
            </li>

            <li class="nav__list-item">
                <a href="/logout" class="nav__list-link">
                    Logout
                </a>
            </li>

            {% else %}
            <li class="nav__list-item">
                <a href="/login" class="nav__list-link">
                    Login
                </a>
            </li>
            {% endif %}
        </ul>

        <div class="nav__mobile" id="navMobile">
            <span class="nav__mobile-toggler-icon">
                <i class="fa-solid fa-bars icon icon-menu icon-menu-open"></i>
            </span>
        </div>
    </nav>

    <!-- HERO IMAGES -->
    {% if view == 'index' %}
        <div class="header__hero header__hero-index">
        </div>
    {% elif view == 'favorites' %}
        <div class="header__hero header__hero-favorites">
        </div>
    {% elif view == 'catalogue' %}
        <div class="header__hero header__hero-catalogue">
        </div>
    {% else %}
        <div></div>
    {% endif %}
</header>