<section class="index__section-searchbar">
    <div class="index__form-container container ">
        <form action="/digimon/search" method="post" class="index__form">
            <label for="indexFormSearchbar" class="title title-secondary">Name or Number</label>
            <input type="text" class="index__form-searchbar" id="indexSearchbar" name="indexSearchbar">
            <button type="submit" class=" btn btn-submit">
                <i class="fa-solid fa-magnifying-glass fa-lg icon"></i>
            </button>
            <p class="index__form-subtext">Explore our full list of Digimon!</p>
        </form>
        <form action="/digimon/surprise" method="post" class="index__form">
            <button type="submit" class="btn btn-surprise">
                <i class="fa-solid fa-shuffle"></i>
                Surprise Me!
            </button>
        </form>
    </div>
</section>