<section class="search__section-searchbar">
    <div class="search__form-container container ">
        {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
            {% if messages %}<!-- check if there are any messages -->
                {% for message in messages %}<!-- loop through the messages -->
                    <p class="flash-message">{{message}}</p><!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/digimon/search" method="post" class="search__form">
            <label for="searchFormSearchbar" class="title title-secondary">Name or Number</label>
            <div class="search__form-searchbar-wrapper">
                <input type="text" class="search__form-searchbar" id="searchSearchbar" name="searchbar">
                <button type="submit" class="btn btn-submit">
                    <i class="fa-solid fa-magnifying-glass fa-lg icon"></i>
                </button>
            </div>
            <p class="search__form-subtext">Explore the full list of Digimon! Type in a Digimon's name or number</p>
        </form>
        <a href="{{ url_for('read_one_digimon', req= range(1, 1423) | random) }}" class="btn btn-surprise">
            <i class="fa-solid fa-shuffle icon-surprise"></i>
            Surprise Me!
        </a>
    </div>
</section>