/* FONT IMPORTS */
@font-face {
    font-family: Pixel Digivolve;
    src: url('../assets/fonts/pixel-digivolve-font/PixelDigivolve-mOm9.ttf') format('truetype');
}

@font-face {
    font-family: Poppins Regular;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    letter-spacing: .07rem;
}

:root {
    --color-primary: #e8e8e8;
    --color-secondary: #898989;
    --color-tertiary: #d68318;
    --color-accent: #0085bd;
    --color-light: #ffffff;
    --color-dark: #313131;

    --font-size-default: 1rem;
    --font-size-title-secondary: 1.5rem;
    --font-size-title-primary: 3rem;

    --font-family-default: 'Poppins Regular', Helvetica, Arial, sans-serif;
    --font-family-title-primary: 'Pixel Digivolve', Helvetica, Arial, sans-serif;
}

body {
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--color-secondary);
}

li::marker {
    content: '';
}

img {
    max-width: 100%;
    display: block;
}

/* LAYOUT */
.container {
    margin: 0 auto;
    padding: .5rem 2rem;
    width: 100%;
}

.title {
    text-align: center;
}

.title-primary {
    font-family: var(--font-family-title-primary);
    font-size: var(--font-size-title-primary);
    color: var(--color-tertiary);
    text-shadow: 1px 2px var(--color-dark);
}

.title-secondary {
    font-size: var(--font-size-title-secondary);
    margin-top: 1rem;
}

.section {
    margin-top: 2rem;
}

.flash-message {
    color: red;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    cursor: pointer;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}


/* NAV */
.nav {
    background-color: var(--color-primary);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 4rem;
    width: 100%;
    background-color: var(--color-primary);
    text-align: center;
    /* transition: 0.3s; */
}

.nav__list.active {
    left: 0;
}

.nav__list-item {
    margin: 1rem 0;
}

.nav__list-link {
    text-transform: uppercase;
    transition: all .3s;
}

.nav__list-link:hover {
    color: var(--color-tertiary);
    text-decoration: underline;
}

.nav__logo-img {
    width: 5rem;
}

.nav__mobile.active {
    display: none;
}

.nav__mobile-toggler-icon {
    display: flex;
    font-size: 2rem;
    color: var(--color-secondary);
    cursor: pointer;
}

/* HEADER */
.header__hero {
    background-size: cover;
    background-position: center;
    height: 12rem;
}

.header__hero-index {
    background-image: url('../assets/img/digimon-tamers.avif');
}

.header__hero-favorites {
    background-image: url('../assets/img/digimon-about.jpg');
}

.header__hero-catalogue {
    background-image: url('../assets/img/digimon-catalogue.jpg');
}

/* SEARCHBAR */
.search__form-container {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 2rem;
}

.search__form-searchbar-wrapper {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 1rem;
}

input, input:focus {
    padding: 0 .5rem;
    line-height: 2rem;
    width: 90%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--color-secondary);
    border-radius:  .5rem 0 0 .5rem;
}

.search__form-subtext {
    margin-top: .5rem;
    font-size: small;
}


.search__form .btn-submit {
    width: 10%;
    padding: .5rem;
    border-radius:  0 .5rem .5rem 0;
    display: block;
}

.btn-surprise, .btn-favorite {
    margin-top: 1rem;
    text-transform: uppercase;
    height: 2rem;
    padding: .5rem;
}

.icon-surprise, .icon-favorite {
    margin-right: .5rem;
}

/* ONE DIGIMON PAGE */
.digimon__btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-carousel{
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: .5rem;
    border-radius: .25rem;

}

.digimon__img-wrapper {
    margin-top: 1rem;
    padding: 2rem;
    background-color: var(--color-primary);
}

.digimon__img-wrapper h2 {
    text-align: center;
    color: var(--color-secondary);
}

.digimon__img-wrapper .btn-favorite i {
    color: var(--color-primary);
}

.digimon__img-wrapper .btn-remove-favorite i {
    color: #fed755 !important;
}

.digimon__stats-wrapper {
    background-color: var(--color-accent);
    padding: 1rem 1rem;
    border-radius: .75rem;
    color: var(--color-light);
}

.digimon__stats-wrapper .title{
    text-align: center;
}

.digimon__attributes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digimon__attributes-wrapper p{
    margin-top: 1rem;
}

/* FAVORITES */
.favorites__img-wrapper {
    margin-top: 1rem;
    padding: 2rem;
    background-color: var(--color-primary);
}

.favorites__img-wrapper h2 {
    text-align: center;
    color: var(--color-secondary);
}

.favorites__img-wrapper .btn-favorite i {
    color: var(--color-primary);
}

.favorites__img-wrapper .btn-remove-favorite i {
    color: #fed755 !important;
}

/* FOOTER */
.footer {
    margin-top: 2rem;
    padding: 1.5rem 0;
    font-size: .75rem;
    background-color: var(--color-dark);
    color: var(--color-primary);
    height: 8rem;
}

.footer__attribute-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .8;
}

.footer__attribute-socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__attribute-socials .icon{
    color: var(--color-primary);
    margin-left: 1rem;
}



@media screen and (min-width: 768px) {
    .nav__mobile {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: auto;
        position: static;
        left: 0;
        top: 0;
    }

    .header__hero {
        background-position: top;
        height: 24rem;
    }
}